<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>
  <header>
    <div class = "logo_container">
      <img id = "logo" src = "../media/bluestar.png" alt = "logo">
    </div>
  </header>

  <main>
    <div class="container">
      <div id="trip-form__container">
        <div class="trip-text__container">
          <h1>Travel App</h1>
          <p>Enter a city name and travel dates</p>
        </div>

        <form onsubmit="Client.submitForm(event)" autocomplete="off">
          <label for="city"></label>
          <input id="city" type="text" placeholder="Enter city" required>
          <label for="startDate">Start date:</label>
          <input id="startDate" type="date" required>
          <label for="endDate">End date:</label>
          <input id="endDate" type="date" required>
          <input type="submit">
        </form>
      </div>
      <div id="new-trip">
        <div>
          <h2 class="headline">New Trip Info</h2>
        </div>
        <div id="new-trip__container"></div>
      </div>
      <div id="trips">
        <h1>Saved Trips</h1>
        <div id="trips__container">
          <p id="no-trips__message">No saved trips</p>
        </div>
      </div>
    </div>
  </main>
  <footer><small>&copy; Jennifer Piper</small></footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</body>
</html>