// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// Font Variables
$shadows-into-light: "Shadows Into Light", serif;
$open-sans: "Open Sans", sans-serif;
$body-font: "Shadows Into Light", sans-serif;

// Color Variables
$white-color: #fefefe;
$blue-color: #385d6a;
$green-color: #385d6a;
$black-color: #313733;

// Media queries screen sizes
$break-small: 650px;
$break-medium: 800px;
$break-large: 1200px;

